---
import Navigation from './navigation.astro';
import Hamburger from './hamburger.astro';
import ThemeIcon from './theme-icon.astro';
---

<header>
    <nav>
        <Hamburger />
        <Navigation />
        <ThemeIcon />
    </nav>
</header>